.item {
    list-style-type: none;
    border: 1px solid grey;
    width: 30%;
    padding: 30px;
    margin: 30px;
    border-radius: 10px;
  }
  
  .none {
      display: none;
  }

  .image {
    width: 100%;
    height: 20rem;
    overflow: hidden;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
  }

  .manualText {
    font-size: 32px;
    font-family: sans-serif;
    color: grey;
    font-weight: 300;
  }

  .link {
    font-size: 34px;
    color: red;
    font-family: sans-serif;
    font-weight: 300;
    cursor: pointer;
  }

  .twitterUsername {
    font-family: arial;
    color: #6B6B6B;
    font-size: 40px;
    font-weight: 600;
    padding-top: 60px;
    text-align: center;
  }

  .twitterText {
    font-size: 40px;
    text-align: center;
    margin: 0 30px;
    color: grey;
  }

  .instaUsername {
      text-align: left;
      color: grey;
      font-size: 30px;
      font-weight: 800;
  }

  .instaText {
    font-size: 31px;
    color: grey;
    font-weight: 400;
  }
  
